/* src/App.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
@import './styles/variables.css';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Poppins:wght@400;500;600;700;800&display=swap');
* {
  box-sizing: border-box; /* Bu çok önemli! */
}

html, body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  height: 100%;
}
html {
  scroll-behavior: smooth; /* Bu satırı ekleyin */
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
  /* root'un arka planı tüm boş alanı doldursun */
  background-color: var(--secondary-white); 
}

.App {
  width: 100%; /* App div'i tam genişlik kaplasın */
  display: flex;
  flex-direction: column;
  /* App'in içinde header hariç her şey ortalanacak. */
  /* Bu yüzden Header'ı doğrudan App.js'te tutacağız ve LandingPage'i ayrı bir container içinde ortalayacağız. */
}